openapi: 3.1.0
info:
  title: Microsoft 365 (Microsoft Graph API) Calendar Teams API
  description: 'Microsoft 365 productivity and collaboration data is accessed through

    Microsoft Graph, a unified REST endpoint at https://graph.microsoft.com.

    The v1.0 service exposes users, groups, mail, calendars, files (OneDrive),

    Teams, SharePoint sites, and more. Authentication is via OAuth 2.0

    bearer tokens (Microsoft Entra ID).

    '
  version: '1.0'
  contact:
    name: Microsoft Graph
    url: https://learn.microsoft.com/en-us/graph/overview
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0
security:
- oauth2: []
tags:
- name: Teams
paths:
  /teams/{team-id}/channels:
    parameters:
    - in: path
      name: team-id
      required: true
      schema:
        type: string
    get:
      tags:
      - Teams
      summary: List the channels of a team
      responses:
        '200':
          description: Channels
  /teams/{team-id}/channels/{channel-id}/messages:
    parameters:
    - in: path
      name: team-id
      required: true
      schema:
        type: string
    - in: path
      name: channel-id
      required: true
      schema:
        type: string
    get:
      tags:
      - Teams
      summary: List messages in a channel
      responses:
        '200':
          description: Messages
    post:
      tags:
      - Teams
      summary: Send a message to a channel
      responses:
        '201':
          description: Message sent
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Sign in and read user profile
            User.ReadWrite.All: Read and write all users' full profiles
            Group.Read.All: Read all groups
            Mail.Read: Read user mail
            Calendars.Read: Read user calendars
            Files.Read.All: Read all files
            Channel.ReadBasic.All: Read basic channel info
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Use app-registered Graph permissions
